{% extends 'base.html.twig' %}

		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/ctf.css') }}">
	

		{% endblock %}
		
		{% block title %}   Bienvenue à l'IUT {% endblock %}
		
{% block body %}



<div class="container">
<br/>

  <h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Quelques définitions !</i></span></div></h1>   
  
  <div style="  padding-top:5px; padding-bottom:5px;border: 8px solid #FFFFFF; ">

<br/>
<p> <font size="6">  <h1>La capture du drapeau ou <i>« capture the flag» </i></h1>

(souvent abrégé en CTF pour Capture the Flag), est un mode de jeu par équipe, traditionnellement joué

 en plein air où l'objectif est de capturer le drapeau (ou un autre objet) d'une équipe adverse — localisé 
 
 dans la « base » ennemie — et de le ramener dans sa base.

Ce type de jeu a été adapté dans divers domaines, comme le paintball ou l'airsoft mais également dans les

 jeux vidéo, dans lesquels il est très populaire (notamment lors de parties multijoueur sur des jeux de tir

 à la première personne ou FPS), ainsi qu'en cybersécurité.


Il existe de nombreuses variations de ce jeu, tant au niveau des règles que du sort réservé aux joueurs qui se 

font rattraper avec le drapeau avant d'avoir pu regagner leur base, certaines règles incluant une « prison » par

 exemple. Dans le domaine de la sécurité informatique, 

la « capture du drapeau » est un jeu consistant à exploiter des vulnérabilités affectant des logiciels de manière à 

s'introduire sur des ordinateurs pour récupérer les drapeaux, preuves de l'intrusion. </font> </p></p></Div>

<br/>

<Div Align=center> <img src= "https://media4.giphy.com/media/3oz8xA9gtnyVDPZJHW/giphy.gif?cid=ecf05e475ixeg7ni0ozjiab2gk8cldabdw6g27sqq7gv10tz&rid=giphy.gif&ct=g"  width="50%" title=" elle est belle mon image " /> </Div>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<br>
<section class="jumbotron" style="background-image: url(https://iut-roanne.univ-st-etienne.fr/skins/iutroanne/resources//img/logo.png); background-size: 30% 120%; ">

<br/>




<br/>










{% endblock %}
	

        
		





