{% extends 'base.html.twig' %}

{% block stylesheets %}
		
{% endblock %}

{% block body %}
<div class="container">
<h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Deuxième exercice !</i></span></div></h1>   
  

<br/>
<Div Align=center> <img src= "https://images.frandroid.com/wp-content/uploads/2021/03/instagram-logo.jpg"  width="50%" title=" même méthode  que précédemment " nom du compte instagram : paul_trc42
 /> </Div>
<br/>
<p> <font size="6">  <h1>C'est partie ! </h1>

Sur ce compte instagram , retrouver le lieu de la dernière photo, vous n'aurez que cette image comme indice! ( Connectez-vous sur instagram si nécessaire)
<hidden https://www.instagram.com/paul_trc42/></font> </p></p>


<br/>
<div class="form-group">
<label for="réponse">Votre réponse</label>
<input type="password" class="form-control" name="réponse" id="réponse" size="30" maxlength="20"/>
<br/>
<input type="submit"  class=" btn btn-primary" name="Envoyer" value="Envoyer"/>

<br/>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<div/>
<br/>

{% endblock %}