{% extends 'base.html.twig' %}

{% block stylesheets %}
		<link rel="stylesheet" media="screen" type="text/css" title="Exemple" href="/css/maintenance.css"/>
{% endblock %}

{% block body %}
<div class="container">
<h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Dixième exercice !</i></span></div></h1>   
   <div style="  padding-top:5px; padding-bottom:5px;border: 8px solid #FFFFFF; "> 
<h3 <p><i>Multiplication !</i></p>
    <p> C'est un exercice en C voici l'énoncer:<br/> Demander à l’utilisateur deux nombres, les mémoriser dans deux variables, multiplier leurs valeurs en affectant le résultat à une troisième variable, puis l’afficher. </p>
    
</h3>
</Div>
<br/>
<h1><i><span style="text-decoration: underline;">Un peu de pratique!</span></i></h1>
<div><FONT size="5pt">Sert-toi du logiciel pour écrire le programme et compiler ton programme.
</FONT>
</div>


<br/>
<br/>
<br/>
<Div Align=center>
<a href="https://www.programiz.com/c-programming/online-compiler/" title="Pour compiler cliquer ici!">
	<img alt="texte alternatif pour le lien image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" width="100" height="75"/>
</a></div>												
<br/>


<br/>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<div/>
<br/>

{% endblock %}