{% extends 'base.html.twig' %}

{% block stylesheets %}
		
{% endblock %}

{% block body %}
<div class="container">
<h1><div Align=center style="padding:3px; border:5px double #3400f6; background-color:#ab30e0;"><span style="text-decoration: underline;"><i>Onzième exercice !</i></span></div></h1>   
  

<br/>
<Div Align=center> <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/ASCII-Table.svg/2522px-ASCII-Table.svg.png"  width="80%" title="casse tête " 
 /> </Div>
<br/>
<p> <font size="6">  <h1><span style="text-decoration: underline;"><i>Changement de décore ! </span><i></h1>

Avec cette table ASCII retrouvé ce qui se cache dans ce code: 66 105 101 110 118 101 110 117 101 32 195 160 32 108 39 32 85 110 105 118 101 114 115 105 116 195 169 32 74 101 97 110 32 77 111 110 110 101 116 32 33 32</p></p>


<br/>
<div class="form-group">
<label for="réponse">Votre réponse, ainsi que dans le google form</label>
<input type="password" class="form-control" name="réponse" id="réponse" size="30" maxlength="20"/>
<br/>
<input type="submit"  class=" btn btn-primary" name="Envoyer" value="Envoyer"/>

<br/>

<Div Align=right>
<a href="#"  class=" btn btn-primary" style="text-shadow:2px 2px 4px #000000;"> Retour en haut ↑</a></div>
<div/>
<br/>

{% endblock %}