<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel= "stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
		{% block stylesheets %}
		{% endblock %}
		
        
    </head>
    <body>
        

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ctf</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/ctf">Form !
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ctf/page1">Ex-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ctf/page2">Ex-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ctf/page3">Ex-3</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/ctf/page4">Ex-4</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page5">Ex-5</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page6">Ex-6</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page7">Ex-7</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page8">Ex-8</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page9">Ex-9</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page10">Ex-10</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page12">Ex-11</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/ctf/page11">Info</a>
        </li>

		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">again</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/ctf/page1">Action</a>
            <a class="dropdown-item" href="/ctf/page2">Another action</a>
            <a class="dropdown-item" href="/ctf/page3">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/ctf">Separated link</a>
			
          </div>
        </li>
		
      </ul>
	 </Div>
	</Div>
    </div>
  </div>
</nav>


		


<div class="container">
	
</div>

	{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
	</body>
</html>
